  .navbar {
    background-color: #F4976C;
  }

  body{
    background-color: #FBE8A6;
  }

  #footer-stuff{
    background-color: #F4976C;
  }

 #navbar-brand{
    color: blue;
  }

  /* More colors
  #303C6C
  #B4DFE5
  #D2FDFF 
  */

body {
    font-family: 'Quicksand', sans-serif;
  }

#under-construction {
  background-color: red;
}