  .navbar {
    background-color: #F4976C;
    color: blue;
  }

  body{
    background-color: #FBE8A6;
  }

  #footer-stuff{
    background-color: #F4976C;
  }

 #navbar-brand{
    color: blue;
  }

  /* More colors
  #303C6C
  #B4DFE5
  #D2FDFF 
  */

body {
    font-family: 'Quicksand', sans-serif;
  }

#under-construction {
  background-color: red;
}

.active {
  font-weight: bold;
  color: blue;
}

.navbar-text {
  color: green;
}

.card {
  background-color: #B4DFE5;
}

#tamu_logo {
  width: 35px;
  height: auto;
}

#my_photo {
  width: auto;
  height: auto;
}

#courses{
  width: 700px;
}

.card-header{
  background-color: #D2FDFF;
}

#inv_photo{
width: 200px;
align-self: center;
margin-bottom: 15px;
border-radius: 8%;
height: auto;
border: 1px solid #ddd;
}