#tamu_logo {
  width: 35px;
  height: auto;
}

.About {
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  background-color: #B4DFE5;
}

#my_photo {
  width: auto;
  height: 300px;
  border-radius: 20px;
  border: #B4DFE5;
}

#card-about {
  background-color: #B4DFE5;
  border: 0px;
}